* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font Icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  color: orange;
  font-size: 35px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
/* Container */
.container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Hero */
.hero {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo > .fa-telegram {
  margin-left: 140px;
  cursor: pointer;
}
.logo > .fa-instagram {
  margin-left: 15px;
  cursor: pointer;
}
.logo > .fa-google {
  margin-left: 15px;
  cursor: pointer;
}
.logo > .fa-x-twitter {
  margin-left: 15px;
  cursor: pointer;
}
.hero > .nav-hed {
  display: flex;
  justify-content: center;
}
.hero > .nav-hed > ul {
  display: flex;
  justify-content: center;
  width: 70%;
}
.hero > .nav-hed > ul > li > a {
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.315);
  padding: 16px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.nav-hed > ul > li {
  transition: 0.5s;
}
.nav-hed > ul > li:hover .a {
  background-color: rgba(255, 255, 255, 0.205);
}
/* Header */
header {
  width: 100%;
  background-color: rgba(255, 174, 0, 0.993);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
}

header ul li {
  list-style: none;
}
header ul li a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  /* margin-right: 40px; */
}
.home {
  color: white;
}
.handyman {
  width: 16%;
  margin-left: 50px;
}
.ground {
  background: url(../img/handyman.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ground h3 {
  color: white;
  text-transform: uppercase;
  margin-left: 150px;
  margin-bottom: 20px;
}
.ground h1 {
  color: white;
  text-transform: uppercase;
  width: 600px;
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 20px;
}
.line {
  width: 6%;
  height: 3px;
  background-color: orange;
  margin-left: 150px;
  margin-bottom: 20px;
}
.ground p {
  color: rgb(255, 255, 255);
  font-size: 22px;
  width: 600px;
  margin-left: 150px;
  margin-bottom: 20px;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
nav {
  width: 50%;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav > ul > li > ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  border-radius: 8px;
}
.test {
  font-size: 12px;
  margin: 0 auto;
}
nav > ul > li:hover ul {
  visibility: visible;
  opacity: 1;
}
nav > ul > li > ul > li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}
.home {
  color: white;
}
.gallery {
  width: 100%;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
}
.gallery > .item {
  width: 30%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  top: -10%;
}
.gallery > .item > h2 {
  margin-bottom: 20px;
}
.gallery > .item > p {
  width: 70%;
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
}
.gallery > .item > a {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 1s;
}
.gallery > .item > img {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 80%;
  height: 200px;
}
header > nav > ul > li:hover .white {
  transition: 0.5s;
  color: white;
}
.ready-and-waiting {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 18%;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
}
.ready-and-waiting > img {
  width: 40%;
}
.ready-and-waiting > .read1 > p {
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 20px;
}
.ready-and-waiting > .read1 > h1 {
  margin-bottom: 30px;
}
.line2 {
  background-color: orange;
  width: 80px;
  height: 3px;
  margin-bottom: 60px;
}
.ready-and-waiting > .read1 > .box > h4 {
  margin-bottom: 5px;
  margin-left: 8px;
}
.ready-and-waiting > .read1 > .box > span {
  margin-bottom: 5px;
}
.best-services {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18%;
  margin-bottom: 100px;
}
.best-services > img {
  width: 40%;
  margin-left: 80px;
}
.best-services > .best > p {
  width: 460px;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.best-services > .best > h4 {
  width: 80%;
  margin-bottom: 30px;
}
.best-services > .best > h1 {
  margin-bottom: 30px;
}
.best-services > .best > a {
  background-color: orange;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
}
.mauris {
  width: 100%;
  /* height: 200vh; */
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.line-1 {
  width: 50%;
  text-align: center;
}
.line3 {
  width: 12%;
  height: 3px;
  background-color: orange;
  margin: 0 auto;
  margin-bottom: 30px;
}
.mauris > .line-1 > h1 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 45px;
  color: white;
}
.mauris > .line-1 > p {
  color: white;
  margin-bottom: 60px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.items h1 {
  color: white;
}
.items p {
  width: 100%;
  color: white;
}
.items .material-symbols-outlined {
  font-size: 60px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  margin-bottom: 400px;
}
.dum-1 {
  width: 45%;
  height: 400px;
}

.dum-2 {
  width: 45%;
  height: 400px;
}
.dum-3 {
  width: 45%;
  height: 400px;
}
.dum-4 {
  width: 45%;
  height: 400px;
}
.dum-1:hover .one {
  transform: scale(1.02);
}
.dum-2:hover .two {
  transform: scale(1.02);
}
.dum-3:hover .three {
  transform: scale(1.02);
}
.dum-4:hover .four {
  transform: scale(1.02);
}
.items .one p {
  width: 60%;
  margin-top: 10px;
}
.items .two p {
  width: 60%;
  margin-top: 10px;
}
.items .three p {
  width: 60%;
  margin-top: 10px;
}
.items .four p {
  width: 60%;
  margin-top: 10px;
}
.items .one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 57%,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 100%
    ),
    url(../img/service-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  text-align: center;
}
.items .two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;

  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 57%,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 100%
    ),
    url(../img/info-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  text-align: center;
}
.items .three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 57%,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 100%
    ),
    url(../img/service-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.items .four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;

  cursor: pointer;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 57%,
      hsla(0, 0%, calc(0% + 5%), calc(100% - 10%)) 100%
    ),
    url(../img/service-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.items p {
  width: 400px;
}
.items > .one > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.items > .two > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.items > .three > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.items > .four > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.items > .one > p {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.493);
}
.items > .two > p {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.493);
}
.items > .three > p {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.493);
}
.items > .four > p {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.493);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.here-to-help {
  display: flex;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.096);
  width: 90%;
}
.img-help img {
  width: 100%;
}
.here-to-help .box-1 {
  /* height: 100%; */
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 80px;
}
.here-to-help .box-1 p {
  width: 75%;
  margin-bottom: 30px;
}
.high {
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.here-to-help .box-1 h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
figure {
  width: 90%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 15px;
  border: 2px solid orange;
}
.latest-handyman {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 300px;
}
.latest-handyman .latest {
  width: 100%;
  /* height: 30vh; */
  position: relative;
}
.latest-handyman .latest p {
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifs;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 3px;
}
.latest-handyman .latest h1 {
  margin-bottom: 30px;
}
.latest-handyman .latest a {
  font-weight: bold;
  font-size: 14px;
  padding: 10px 60px;
  background-color: orange;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.gallerys {
  width: 100%;
  height: 400px;
  gap: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.gallerys .worker .image1 {
  background-image: url(../img/blog-02.jpg);
  background-size: cover;
  background-position: center center;
  width: 80%;
  height: 30%;
  margin-bottom: 30px;
}
.gallerys .worker .image2 {
  background-image: url(../img/blog-01.jpg);
  background-size: cover;
  background-position: center center;
  width: 80%;
  height: 30%;
  margin-bottom: 30px;
}
.gallerys .worker .image3 {
  background-image: url(../img/blog-03.jpg);
  background-size: cover;
  background-position: center center;
  width: 80%;
  height: 30%;
  margin-bottom: 30px;
}
.gallerys .worker {
  width: 33%;
  height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.137);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallerys .worker p {
  width: 75%;
  text-align: center;
}
.gallerys .worker .name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
.gallerys .worker .box-0 {
  width: 100%;
  gap: 4%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.line4 {
  width: 20%;
  height: 2px;
  background-color: orange;
  margin-bottom: 40px;
}
.gallerys .worker p {
  line-height: 30px;
  margin-bottom: 40px;
}
.read {
  padding: 8px 30px;
  background-color: orange;
  border-radius: 100px;
}
.receive-form {
  background-color: rgba(0, 0, 0, 0.041);
  width: 100%;
  /* height: 140vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.receive-form .section1 {
  width: 60%;
  margin-bottom: 200px;
}
.receive-form .section1 .get {
  word-spacing: 4px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.receive-form .sectison1 .line5 {
  width: 10%;
  height: 3px;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 30px;
}
.receive-form .section1 .coment {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.receive-form .section1 .coment .name {
  line-height: 40px;

  font-size: 18px;
  margin-bottom: 20px;
}
.receive-form .section1 .coment .surname {
  line-height: 40px;

  font-size: 18px;
  margin-bottom: 20px;
}
.receive-form .section1 .coment .email {
  line-height: 40px;

  font-size: 18px;
}
.receive-form .section1 .coment .phone {
  line-height: 40px;
  font-size: 18px;
}
.receive-form .section1 .coment input {
  padding: 15px 90px;
}
.receive-form .section1 .coment .message {
  font-size: 18px;
  margin-top: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}
.input-message {
  width: 210%;
  height: 140px;
}
.receive-form .section2 {
  width: 30%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  border: 4px solid orange;
}
.receive-form .section2 img {
  width: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.receive-form .section2 p {
  width: 80%;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}
.receive-form .section2 .outstanding {
  width: 100%;
  text-align: center;
}
.receive-form .section2 .shona {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.receive-form .section2 .five {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.receive-form .section2 .icon-start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.request {
  padding: 12px 30px;
  font-weight: initial;
  border-radius: 100px;
  background-color: rgb(248, 174, 37);
}
.highly {
  width: 100%;
  height: 15vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  gap: 30%;
}
.highly h4 {
  width: 100%;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highly .call {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.handyman2 {
  width: 100%;
  height: 25vh;
  font-weight: bolder;
  font-size: 14px;
  background-color: rgb(255, 174, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30%;
}
.handyman2 img {
  width: 15%;
}
.handyman2 .chat-2 {
  width: 40%;
  justify-content: space-evenly;
}
.handyman2 .chat-2 .white {
  padding: 10px 30px;
  background-color: white;
  color: black;
  border-radius: 100px;
  margin-right: 20px;
}
.handyman2 .chat-2 .black {
  padding: 10px 30px;
  background-color: black;
  color: white;
  border-radius: 100px;
}
footer {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
}

footer .fot {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

.end {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.end > .line6 {
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.363);
}
.end p {
  width: 50%;
  margin: 0 auto;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 80px;
}
.fot-4 {
  display: flex;
  justify-content: center;
}

.fot-4 ul li {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.bx-chevron-down {
  margin-left: 5px;
  font-size: 20px;
}
/* tablet Responsive */
@media (max-width: 1024px) {
}

/* mobile Responsive */
@media (max-width: 768px) {
  .hero {
    width: 100%;
    /* height: 10vh; */
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-hed {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
  /* hero */
  header {
    display: flex;
    width: 100%;
  }
  .nav-hed {
    font-size: 10px;
  }
  .handyman {
    width: 50%;
    /* height: 50px; */
    margin: 0;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ground {
    width: 100%;
    /* height: 600px; */
    display: flex;
    align-items: flex-end;
  }
  .ground h3 {
    display: flex;
    /* justify-content: center; */
    width: 90%;
    color: white;
    text-transform: uppercase;
    margin-left: 00px;
    margin-bottom: 20px;
  }
  .ground h1 {
    color: white;
    text-transform: uppercase;
    width: 90%;
    font-size: 50px;
    margin-left: 150px;
    margin-bottom: 20px;
  }
  .line {
    width: 20%;
    height: 3px;
    background-color: orange;
    margin-right: 335px;
    margin-bottom: 20px;
  }
  .ground p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 90%;
    margin-bottom: 20px;
  }
  .gallery {
    width: 100%;
    height: 250vh;
    background-color: rgba(0, 0, 0, 0.048);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery > .item {
    width: 90%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    top: -4%;
    margin-bottom: 20px;
  }
  .gallery > .item > img {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
    /* height: 200px; */
  }
  .ready-and-waiting {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;
    flex-wrap: wrap-reverse;
  }
  .box {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .ready-and-waiting > img {
    width: 80%;
    /* height: 400px; */
  }

  .best-services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    margin-bottom: 100px;
  }
  .best-services > img {
    width: 80%;
    /* height: 400px; */
    margin: 0 auto;
  }
  .best-services > .best > p {
    width: 100%;
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .best-services > .best > h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .best-services > .best > h1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .best-services > .best > a {
    display: flex;
    background-color: orange;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 100px;
  }
  .best {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .mauris {
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  .line-1 {
    width: 80%;
    text-align: center;
  }
  .line3 {
    width: 20%;
  }

  .items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dum-1 {
    width: 90%;
  }

  .dum-2 {
    width: 90%;
  }
  .dum-3 {
    width: 90%;
  }
  .dum-4 {
    width: 90%;
  }
  .here-to-help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.055);
    width: 90%;
    /* height: 130vh; */
  }

  .here-to-help .box-1 {
    width: 100%;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
  }
  .here-to-help .box-1 p {
    width: 85%;
    margin-bottom: 30px;
  }
  .img-help {
    width: 60%;
    /* height: 350px; */
  }
  .img-help img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .latest-handyman .latest {
    width: 100%;
    /* height: 30vh; */
    position: relative;
  }
  .latest-handyman .latest p {
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serifs;
    font-size: 12px;
    font-weight: 700;
    word-spacing: 3px;
  }
  .latest-handyman .latest h1 {
    margin-bottom: 30px;
  }
  .latest-handyman .latest a {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 60px;
    background-color: orange;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .gallerys {
    width: 100%;
    height: 250vh;
    gap: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gallerys .worker .image1 {
    background-image: url(../img/blog-02.jpg);
    background-size: cover;
    background-position: center center;
    width: 70%;
    /* height: 200px; */
    margin-bottom: 30px;
  }
  .gallerys .worker .image2 {
    background-image: url(../img/blog-01.jpg);
    background-size: cover;
    background-position: center center;
    width: 70%;
    /* height: 200px; */
    margin-bottom: 30px;
  }
  .gallerys .worker .image3 {
    background-image: url(../img/blog-03.jpg);
    background-size: cover;
    background-position: center center;
    width: 70%;
    /* height: 200px; */
    margin-bottom: 30px;
  }
  .gallerys .worker {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .receive-form {
    background-color: rgba(0, 0, 0, 0.045);
    width: 100%;
    height: 230vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-top: 0;
  }
  .receive-form .section1 {
    width: 70%;
    margin-bottom: 0;
  }
  .receive-form .section1 .get {
    word-spacing: 4px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .receive-form .section1 .coment {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .receive-form .section1 .coment .name {
    line-height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .receive-form .section1 .coment .surname {
    line-height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .receive-form .section1 .coment .email {
    line-height: 40px;
    font-size: 18px;
  }
  .receive-form .section1 .coment .phone {
    line-height: 40px;
    font-size: 18px;
  }
  .receive-form .section1 .coment input {
    padding: 15px 80px;
  }
  .input-message {
    width: 120%;
    height: 120px;
  }
  .receive-form .section1 .coment .message {
    font-size: 18px;
    margin-top: 20px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .receive-form .section2 {
    width: 80%;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    border: 4px solid orange;
  }
  .highly {
    width: 100%;
    height: 16vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    gap: 0%;
  }
  .highly h4 {
    width: 80%;
    font-size: 18px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .highly .call {
    display: none;
  }
  .handyman2 {
    width: 100%;
    height: 40vh;
    font-weight: bolder;
    font-size: 14px;
    background-color: rgb(255, 174, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .handyman2 img {
    width: 40%;
  }
  .handyman2 .chat-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .handyman2 .chat-2 .white {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: black;
    border-radius: 100px;
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .handyman2 .chat-2 .black {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 100px;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  footer {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-wrap: nowrap;
  }

  footer .fot {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }
  .fot-4 {
    position: absolute;
    visibility: hidden;
  }
  .end {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .end > .line6 {
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.363);
  }
  .end p {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
